# Terraform state files
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform CLI config
.terraform/
.terraform.lock.hcl

# Variable files (if you keep secrets locally)
*.tfvars
*.tfvars.json

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override._*
